.fiche-logement-Description-Equipments {
   margin-top: 15px;
   .logement-dropdown {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      font-size: 18px;
      overflow: hidden;
      h3{
      @include dropdown-title(18px);
      }
      .dropdown-arrow {
         transition: transform 0.3s ease;
      }
      .rotate {
         transform: rotate(-180deg);
      }
   }
   p, ul {
      @include dropdown-text;
      overflow: hidden;
      margin-bottom: 20px;
   }
   /*** Media Queries ***/
   @media (min-width: 780px) {
      .logement-dropdown {
         width: 45%;
         &.descrition {
            margin-right: 10%;
         }
      }
   }
}