.carousel {
   width: 100%;
   position: relative;
   img {
      height: 415px;
      width: 100%;
      object-fit: cover;
      border-radius: 25px;
   }
   .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: rgb(255, 255, 255);
      border: none;
      background-color: transparent;
      img {
      height: 80px; 
      cursor: pointer;
      }
      &.left {
         left: 20px;
      }
      &.right {
         right: 20px;
      }
   }
   .carousel-counter {
      position: absolute;
      bottom: 20px;
      left: 50%;
      right: 50%;
      font-size: 18px;
      color: white;
   }
}